.container{
    gap: 20px 15px;
}
.main {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0.2fr 3.4fr 0.4fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "community-header"
      "community-chatbox"
      "community-chatbar";
    grid-template-areas: 
    "community-header"
    "community-chatbox"
    "community-chatbar"; 
    grid-area: main; 
}
.community-header { 
    grid-area: community-header;
 }
.community-chatbar { 
    grid-area: community-chatbar; 
}
.community-chatbox { 
    background-image: url("../images/community-background.jpg");
    border-radius: 10px;
    grid-area: community-chatbox; 
}

/* Styling the message page */

.msg-page {
    max-height: 500px;
    overflow-y: auto;
}


/* Styling the chat box container */
.chat-page {
    padding: 0 0 50px 0;
}


.chats {
    padding: 30px 15px 0 25px;
}

/* Styling the message page */

.msg-page {
    max-height: 500px;
    overflow-y: auto;
}


/* Styling the input field */
.input-group {
    border-radius: 20px;
    width: auto;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
}

.form-control {
    border: none !important;
    border-radius: 20px !important;
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input-group-text {
    background: transparent !important;
    border: none !important;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: b;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    cursor: pointer;
}



