.navbar{
  display: flex;
  gap: 260px;
}
.navbar>img{
  height: 100px;
  width: 100px;
  
}
.navbar>button{
  height: 40px;
  width: 80px;
  border-radius: 10px;
margin-top: 30px;
margin-right: 20px;
border-color: black;
background-color: black;
color: white;
}
.navbar>a{
  padding-top: 35px;
  font-size: 20px;
  color: black;
  text-decoration: none;
}
a:hover{
  color: #CAF746;
}
